# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# IDEs
.vscode/
.idea/

# Secrets
.env
*.env
wrangler.toml
